Source: indicator-printers
Section: gnome
Priority: extra
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
XSBC-Original-Maintainer: Lars Uebernickel <lars.uebernickel@canonical.com>
Build-Depends: debhelper (>= 8),
               cdbs (>= 0.4.41),
               autotools-dev,
               dh-autoreconf,
               libglib2.0-dev (>= 2.22.3),
               libgtk-3-dev,
               libdbusmenu-glib-dev (>= 0.5.90),
               libdbusmenu-gtk3-dev (>= 0.5.90),
               libindicator3-dev (>= 0.3.90),
               libcups2-dev
Standards-Version: 3.9.2
Homepage: https://launchpad.net/indicator-printers

Package: indicator-printers
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         cups (>= 1.5)
Recommends: unity | indicator-renderer,
            system-config-printer-gnome
Description: indicator showing active print jobs
 This indicator is designed to let you view and control active print jobs.
 .
 It requires some way to be hosted into a panel.  Either Unity or an indicator
 plugin for your desktop environment.
