Source: ayatana-indicator-printers
Section: x11
Priority: extra
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: debhelper (>= 10),
               autotools-dev,
               dh-autoreconf | debhelper (>= 9.20160403~),
               dh-systemd | debhelper (>= 10.2~),
               dpkg-dev (>= 1.16.1.1),
               mate-common,
               libglib2.0-dev (>= 2.43.2),
               libgtk-3-dev,
               libdbusmenu-glib-dev (>= 0.5.90),
               libdbusmenu-gtk3-dev (>= 0.5.90),
               libayatana-indicator3-dev (>= 0.3.91),
               libcups2-dev,
               systemd [linux-any],
Standards-Version: 4.1.1
Homepage: https://github.com/AyatanaIndicators/ayatana-indicator-printers
Vcs-Git: https://github.com/AyatanaIndicators/ayatana-indicator-printers
Vcs-Browser: https://github.com/AyatanaIndicators/ayatana-indicator-printers

Package: ayatana-indicator-printers
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         cups (>= 1.5),
         ayatana-indicator-common,
Recommends: system-config-printer,
Description: Ayatana Indicator showing active print jobs
 This Ayatana Indicator is designed to let you view and control active
 print jobs.
 .
 Use an indicator plugin for your desktop environment or a desktop
 environment that natively supports indicators to provide this indicator
 to the user.
